<div class="container-fluid">
  <a class="isometric">
    <span class="iconback isfb"><i class="fas fa-unlock-alt"></i></span
    ><span class="btnttl" (click)="openDialog()">ĐI VÀO</span>
  </a>
  <a class="isometric" [routerLink]="['/admin']">
    <span class="iconback isfb"><i class="fas fa-fingerprint"></i></span
    ><span class="btnttl">Vào Admin</span>
  </a>
  <a class="isometric" [routerLink]="['/user']">
    <span class="iconback isfb"><i class="fas fa-fingerprint"></i></span
    ><span class="btnttl">Vào User</span>
  </a>
</div>
