<mat-card>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit laudantium
  mollitia sunt veniam non possimus. Maiores sequi debitis inventore maxime,
  ullam veritatis ut harum quo earum repellendus officia eius incidunt?
</mat-card>
<mat-divider style="margin-top:5px;"></mat-divider>
<mat-card>
  <mat-toolbar>
    <button mat-button [routerLink]="'../welcome'">
      <i class="fas fa-home"></i> Trang chủ
    </button>

    <button mat-button [matMenuTriggerFor]="setting">
      <i class="fas fa-cogs"></i> Hệ thống
    </button>
    <mat-menu #setting="matMenu">
      <button mat-menu-item>Giới thiệu</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Đăng xuất</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="danhmuc">
      <i class="fas fa-list-alt"> Danh mục</i>
    </button>
    <mat-menu #danhmuc="matMenu">
      <button mat-menu-item [routerLink]="'./nguoi-dung'">
        <i class="fas fa-users-cog"></i> Danh mục nhân viên
      </button>
      <button mat-menu-item [routerLink]="'./dich-vu'">
        <i class="fas fa-users-cog"></i> Danh mục dịch vụ
      </button>
    </mat-menu>

    <button mat-button><i class="fas fa-home"></i></button>

    <button mat-button><i class="fas fa-home"></i></button>

    <button mat-button><i class="fas fa-home"></i></button>
  </mat-toolbar>
</mat-card>
<mat-divider style="margin-top:5px;"></mat-divider>
<mat-card>
  <router-outlet></router-outlet>
</mat-card>
